<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrthoGuide">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.OrthoGuide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".PatientLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ConsentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AiCapabilitiesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LoginSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ProgressActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ChatBotActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".VerifyOtpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".CreateNewPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".PasswordResetSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AppointmentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CareRemindersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ReportIssueActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SeverityLevelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ReportSentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NotificationPreferencesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CareGuideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CleaningAlignersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FoodDrinkGuideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WearTimeTipsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CommonIssuesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HelpSupportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ManageAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".AccountDeactivatedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ClinicianLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ClinicianDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PatientsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ScheduleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ClinicianEditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ClinicianProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PatientProfileActivity"
            android:exported="true" />

        <activity
            android:name=".CreatePatientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ManageCliniciansActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ManagePatientsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AdminSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AdminEditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
            
        <activity
            android:name=".AdminResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
            
        <activity
            android:name=".AdminResetPatientPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
            
        <activity
            android:name=".CreateClinicianActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>